* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  width: 100vw !important;
  overflow-x: hidden;
  background-color: #d0d7e3 !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.textBlueSlate {
  color: #13293d !important;
}

.textDarkSlate {
  color: #232323 !important;
}

.textGraySlate {
  color: #dee2e6 !important;
}

.textLightDarkSlate {
  color: #353535 !important;
}

.fullView {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.myName {
  font-family: "BioRhyme";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

/* animation */
.navbar-brand {
  animation-delay: 4.8s;
  animation-duration: 0.6s;
}

.aboutNav {
  animation-delay: 4.8s;
  animation-duration: 0.6s;
}

.projectsNav {
  animation-delay: 5s;
  animation-duration: 0.6s;
}

.contactNav {
  animation-delay: 5.2s;
  animation-duration: 0.6s;
}

.resumeButton {
  animation-delay: 5.4s;
  animation-duration: 0.6s;
}

.jumboName {
  animation-delay: 5.6s;
  animation-duration: 0.6s;
}

.jumboSub {
  animation-delay: 5.8s;
  animation-duration: 0.6s;
}

.imageAvatar {
  animation-delay: 6s;
  animation-duration: 0.6s;
}

.landingBG {
  animation-delay: 6.2s;
  animation-duration: 0.6s;
}
/* end of animation */

.navbar {
  /* background: #fefae0 !important; */
  /* background: #f8f9fa !important; */
  background-color: #d0d7e3 !important;
}

button.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

button.navbar-toggler:active {
  border: none;
}

.nav-link {
  font-size: 18px !important;
  cursor: pointer;
}

.nav-link:hover,
nav-link:active {
  color: #00a8e8 !important;
}

.landingBG {
  height: 50vh;
  width: 100%;
  background-image: url(../images/undraw.svg);
  background-position: center bottom;
  background-color: #d0d7e3;
  background-size: contain;
  background-repeat: no-repeat;
}

.jumboLanding {
  margin-bottom: 0;
  background: transparent;
}

.helloThere {
  margin-bottom: 0;
  color: #5f9eb8 !important;
}

.jumboName {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  font-size: clamp(2rem, 4vw, 3.5rem) !important;
}
.jumboSub {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  font-size: clamp(1.2rem, 4vw, 2.2rem) !important;
}

.jumboDescription {
}

.aboutMeContainer {
  padding: 75px 0;
  background-color: #1b2b4a;
  /* background-color: #002855; */
  color: #edf6f9;
}

.aboutMe {
  font-size: 2rem;
  font-family: "BioRhyme";
  font-weight: 800;
  letter-spacing: 2px;
}

.highlightedTextAbout {
  color: #48cae4;
}

.highlightedText {
  color: #00a8e8;
  font-family: "BioRhyme", serif;
}

.bold {
  font-weight: 800;
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}

.projectsRow {
  margin-top: 4em;
}

.projectsTitle {
  font-family: "BioRhyme";
  font-weight: 800;
  letter-spacing: 2px;
}

.projectFeature {
  margin: 0;
}

.projectsTitleCol {
  padding-left: 0;
  margin-bottom: 2em;
}

.projectImage {
  padding: 0;
}

.projectTitle {
  font-family: "BioRhyme";
  font-weight: 800;
  margin-bottom: 1.3rem;
}

.projectDescriptionContainerRight {
  position: relative;
  width: 110%;
  padding: 25px;
  background: #0077b6;
  border-radius: 5px;
  text-align: right;
  z-index: 3;
}

.projectDescriptionContainerLeft {
  position: relative;
  width: 110%;
  padding: 25px;
  background: #0077b6;
  border-radius: 5px;
  text-align: left;
  z-index: 3;
}

.projectDescription {
  color: #edf6f9;
  margin: 0;
}

.projectTechContainer {
  margin: 1rem 0 0 0;
  padding: 0;
}

ul.projectTechContainer > li {
  display: inline-block;
  display: inline;
  color: #1b2b4a;
}

ul.projectTechContainer > li:nth-of-type(even) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.projectCol {
  padding: 0;
}

.projectImageContainer {
  position: relative;
  display: flex;
}

.projectLinkIcon {
  text-decoration: none !important;
}

.projectLinkSVG:hover {
  fill: #023e7d !important;
}

.projectImageContainer::before {
  content: "";
  position: absolute;
  background: #023e7d;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 2;
  transition: 400ms ease;
}

.projectImageContainer:hover::before {
  opacity: 0;
  transition: 400ms ease;
}

.rightSideDescriptionCol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}

.leftSideDescriptionCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 4;
}

.budgetterCol {
  margin-top: 6em;
  margin-bottom: 6em;
}

.typerShark {
  object-fit: scale-down;
  height: 275px;
}

.contactRow {
  margin-top: 5em;
}

.emailMeBtn {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.footerRow {
  margin-top: 10em;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem 0 2rem;
  }

  .jumboDescription {
    width: 60% !important;
  }
}

@media (min-width: 768px) {
  .jumboDescription {
    width: 50% !important;
  }
}
@media (max-width: 575.98px) {
  .aotTechContainer > li.projectTechItem {
    font-size: 0.9rem;
  }
}

@media (max-width: 537px) {
  .projectContainer {
    position: relative;
    height: 350px !important;
  }
  .rightSideDescriptionCol {
    background: linear-gradient(
      90deg,
      rgba(0, 18, 51, 0.9) 0%,
      rgba(0, 18, 51, 0.9) 100%
    );
  }
  .leftSideDescriptionCol {
    background: linear-gradient(
      90deg,
      rgba(0, 18, 51, 0.9) 0%,
      rgba(0, 18, 51, 0.9) 100%
    );
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 768px) {
  .projectContainer {
    position: relative;
    height: 320px;
  }
  .projectCol {
    position: absolute;
    top: 0;
    left: 0;
  }

  .projectImageContainer::before {
    content: "";
    position: absolute;
    background: #001233;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
    transition: 400ms ease;
  }

  .projectTitle {
    color: #edf6f9 !important;
  }

  .rightSideDescriptionCol {
    padding: 25px;
  }

  .projectDescriptionContainerRight {
    position: relative;
    width: 100%;
    padding: 0;
    background: transparent;
    z-index: 3;
    text-align: right;
  }

  .budgetterProjectLinks {
    margin-top: 4px !important;
  }

  .aotTechContainer > li:nth-of-type(even) {
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
  }

  .projectDescriptionContainerLeft {
    position: relative;
    width: 100%;
    padding: 0;
    background: transparent;
    z-index: 3;
  }

  .leftSideDescriptionCol {
    padding: 25px;
    z-index: 4;
  }

  .projectTechItem {
    color: #edf6f9 !important;
  }

  .budgetterCol {
    margin-top: 0;
    margin-bottom: 0;
  }
}
